*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Lato', sans-serif;
   color:#676858;
   font-weight: 300;
}

.job-description{
  margin-left: 45px;
}

.mylogo{
  width: 85px;
}

.nav{
	list-style: none;
	text-align: center;

}

.nav li{
	display: inline;
	padding: 25px;
}

.nav a{
	color:black;
}

.nav a:hover{
  text-decoration: underline;
  text-decoration-color: #F8981C;
}

.opa{
  opacity: 0.8;
}

.title-logo{
  margin-top: 20px;
}

.wrapper-color{
  width: 100%;
  background-color: #eee
}

.text-muted {
   color: #BCBBBB;
}
.text-thin {
   font-weight:100;
}

.text_upper{
  text-transform: uppercase;
  font-weight: 700;
  color: gray;
}

.title-super {
   font-size: 68px;
}

.text_style{
  text-decoration: none;
}

.link_style:hover{
  text-decoration: none;
  color: #F8981C;
}

.space{
  margin: 20px 0 50px;
}

.skills{
	text-align: right;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.beginner{
	width: 50%; background-color: #4CAF50;
}
.intermediate{
	width: 70%; background-color: #4CAF50;
}
.advanced{
	width: 90%; background-color: #4CAF50;
}

.img-size{
  height:175px;
  width: 360px;
}

.img2-size{
  min-height: 270px;
  min-width: 555px;
}

.img-op:hover{
  opacity: 0.5;
}


.footer_social{
  margin-top: 27px;
}

ul li a{
  color: #007bff;
  text-transform: uppercase;
  text-decoration: none;
}

footer ul li{
    display: inline;
    padding:35px;
}

footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.2);
  padding: 60px 0;
}

@media (max-width: 700px){
  .mylogo{
    width: 65px;
  }
  .portrait{
		width: 100%;
		margin: auto;
	}
}

@media (max-width:550px){
	.nav li a{
		width: 100%;
		float: right;
		padding-bottom: 25px;
	}
}
