*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Lato', sans-serif;
   color:#676858;
   font-weight: 300;
}

.mylogo{
  width: 85px;
}

.title-logo{
  margin-top: 20px;
}

.wrapper-color{
  width: 100%;
  background-color: #eee
}

.text-muted {
   color: #BCBBBB;
}
.text-thin {
   font-weight:100;
}

.title-super {
   font-size: 68px;
}

.text_style{
  text-decoration: none;
}

.link_style:hover{
  text-decoration: none;
  color: #F8981C;
}

.space{
  margin-bottom: 50px;
}

.img-size{
  height:175px;
  width: 360px;
}

.img2-size{
  min-height: 270px;
  min-width: 555px;
}


.footer_social{
  margin-top: 27px;
}

ul li a{
  color: #007bff;
  text-transform: uppercase;
  text-decoration: none;
}

footer ul li{
    display: inline;
    padding:35px;
}

footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.2);
  padding: 60px 0;
}

@media (max-width: 700px){
  .mylogo{
    width: 65px;
  }
}
